<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
</head>
<body>
<nav>
    <a href="/user">个人页面</a>
    <a href="/houseInfo">房屋总览</a>
    <a href="/sendHouse">我要卖房</a>
    <a href="/about">关于我们</a>
    <a href="/exit">退出</a>
</nav>
<h1>修改个人信息</h1>
<form method="post" action="/user">
    用户名：<input type="text" name="userName"> <br>
    手机号：<input type="tel" name="phoneNumber"><br>
    密码：<input type="password" name="pwd"><br>
    重复输入密码：<input type="password" name="pwd2"><br>
    邮箱：<input type="email" name="mail"><br>
    微信：<input type="text" name="wechat"><br>
    <input type="submit" value="提交">
</form>
</body>
</body>
</html>